body {
    background: lightgray;
    box-sizing: border-box;
}
#arrow-ctn {
    display: flex;
    align-items: center;
}
#arrow {
    margin-top: -1rem;
    font-weight: 700;
    font-size: 5rem;
}
#arrow-text {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
#box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
#container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#legend {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}
.legend-item {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;  
    border-radius: 3px;
}
.legend-label {
    font-family: Arial, sans-serif;
    font-weight: 100;
}